output/

Network_Enhancement/

.vscode/

__pycache__/
*.pyc
*.pyo

.ipynb_checkpoints/

.DS_Store
Thumbs.db

*.log

slurm-*

processed_results/

temp/

dev_code_output/


_version.py

scripts/keypairs.json
scripts/slurm-*
scripts/.snakemake/

# packaging artifacts
*.egg-info/
dist/
build/
*.egg

notebooks/test*
notebooks/Bcell_vs_DP.ipynb
notebooks/C-Elegans_depletion.ipynb
notebooks/GM12878_all_pairs.ipynb
notebooks/GM12878_analysis.ipynb
notebooks/HCT116_overlap.ipynb
notebooks/K562_vs_GM12878_overlap.ipynb
notebooks/Length_histogram.ipynb
notebooks/PET_count_boxplot.ipynb
notebooks/_contact_map.jpg
notebooks/_contact_map_intensity_value_histogram.jpg
notebooks/convert_summary_to_bed.ipynb
notebooks/diagnose_scale_space.ipynb
notebooks/single.ipynb
notebooks/K562_overlap.ipynb
notebooks/corner_diagnosis.ipynb
notebooks/miajet_figure_s1.ipynb
notebooks/miajet_figure_s1_examples.ipynb
notebooks/parameter_selection.ipynb
notebooks/sum_pairwise_contacts.ipynb
notebooks/miajet_figure1.ipynb
notebooks/plot_aggregate.ipynb
notebooks/plot_venn_diagram.ipynb
notebooks/create_small_hic.ipynb

slurm_out/
