# Ignore everything except
*

!.gitignore
!README.md
!chroms.sh
!pyproject.toml
!job*
!submit*
!environment.yml

!demo_data/**
!imagej_macros/**
!localfiji/**
!miajet/**
!notebooks/**
!pyscsp/**
!scripts/**
!tests/**
!utils/**
!utils/

notebooks/dev_*

utils/__pycache__/
job*_gs*.sbat