output/
localfiji/
.vscode/

__pycache__/
*.pyc
*.pyo

.ipynb_checkpoints/

.DS_Store
Thumbs.db

*.log

slurm-*

processed_results/

temp/

dev_code_output/


_version.py

scripts/keypairs.json
scripts/slurm-*
scripts/.snakemake/

# packaging artifacts
*.egg-info/
dist/
build/
*.egg

